*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}
body{
    background-color: #ebf4fa;
    color:black;
}

/* HEADER */
.header{
    background-color: #008DDA;
    color: #ffffff;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 10;

    .navegacion{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 40px;
        margin-right: 40px;
        padding: 1.5rem 0;

        .anclaLogo{
            text-decoration: none;
            color: #ffffff;
            font-weight: 700;
            font-size: 1.2rem;

            /* Animación hover */
            &:hover{
                animation: tilt-n-move-shaking 0.25s infinite;
            }
        }

        .navLista{
            list-style: none;
            display: flex;
            align-items: center;

            /* Botones */
            .navItem{
                margin-right: 20px;

                .navLink{
                    background-color: #0380c4;
                    color: #ffffff;
                    text-decoration: none;
                    font-weight: 700;
                    font-size: 1.1rem;
                    padding: 0.5rem 1rem;
                    border-radius: 25px;

                    /* Efecto de botón presionado */
                    transition: transform 0.3s, box-shadow 0.3s;
                    &:hover{
                        color: black;
                        background-color: #41C9E2;
                        transform: scale(0.95);
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                        border-radius: 25px;
                    }
                }

                /* Botón "mi cuenta" */
                .navLink.miCuenta{
                    background-color: #01679e;
                    color: #ffffff;
                    border-radius: 25px;

                    /* Efecto de botón presionado */
                    transition: transform 0.3s, box-shadow 0.3s;
                    &:hover{
                        color: black;
                        background-color: #41C9E2;
                        transform: scale(0.95);
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                    }
                }
            }
        }
    }
}

/* Estilos de HEADER para mobile y tablet */
@media (max-width: 760px){
    .header{
        height: initial;

        .navegacion{
            margin-left: 10px;
            margin-right: 10px;
            flex-direction: column;
            row-gap: 20px;

            .anclaLogo{
                font-weight: 700;
                font-size: 1.2rem;
            }

            .navLista{
                padding: initial;

                .navItem{
                    .navLink{
                        font-weight: 400;
                        margin-right: initial;
                        font-size: 1rem;
                        padding: 0.2rem;
                    }
                }
            }
        }
    }
}

/* MAIN */
.main{
    min-height: 75vh;
    
    /* Formulario */
    .formulario {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        max-width: 100%;
        margin: 2%;
    }
    
    h1{
        text-align: center;
        margin: 1%;
    }

    p{
        text-align: center;
        margin: 1%;
        a{
            color: #0380c4;
            text-decoration: none;
            font-weight: bold;
        
            transition: transform 0.3s, box-shadow 0.3s;
            &:hover{
                color: black;
            }
        }    
    }

    .input {
        margin: 5%;
        font-size: 18px;
        padding: 5px 10px;
        width: 100%;
        outline: none;
        background: #FFFFFF;
        color: #000000;
        border: 1px solid #C4D1EB;
        border-radius: 5px;
        transition: .3s ease;
    }
    
    .input:focus {
        background: #F2F2F2;
        border: 1px solid #5A7EC7;
        border-radius: 10px;
    }
    
    .input::placeholder {
        color: #A8A8A8;
    }

    .botonIngresar{
        margin: 15% 0;
        background-color: #0380c4;
        color: #ffffff;
        font-weight: 700;
        font-size: 1.1rem;
        padding: 0.7rem 1.5rem;
        border-radius: 25px;

        /* Efecto de botón presionado */
        transition: transform 0.3s, box-shadow 0.3s;
            &:hover{
                color: black;
                background-color: #41C9E2;
                transform: scale(0.95);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                border-radius: 25px;
                }
    }   
}

/* FOOTER */
.footer{
    background-color: #008DDA;
    color: #ffffff;
    width: 100%;
    min-height: 10vh;
    bottom: 0;

    p {
        font-size: 0.7rem;
        border-left: 2px solid #ffffffbd;
        padding-left: 5%;
    }
    
    .footContenedor{
        display: flex;
        place-content: center;
        padding: 1.5rem 0;

        .footLista{
            list-style: none;
            display: flex;
            flex-direction: row;
            place-content: space-between end;
            place-items: center end;
    
            /* Botones */
            .footItem{
                margin: 0 20px 0 0;
    
                .footLink{
                    color: #ffffff;
                    text-decoration: none;
                    font-weight: 700;
                    font-size: 1.1rem;
                    padding: 0.3rem 0.5rem;
    
                    /* Efecto de botón presionado */
                    transition: transform 0.3s, box-shadow 0.3s;
                    &:hover{
                        color: black;
                        background-color: #41C9E2;
                        transform: scale(0.95);
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}

/* Estilos de FOOTER para mobile y tablet */
@media (max-width: 760px){
    .footer{
        height: initial;

        .footContenedor{
            margin-left: 10px;
            margin-right: 10px;
            flex-direction: column;
            row-gap: 20px;

            .footLista{
                padding: initial;

                .footItem{
                    .footLink{
                        font-weight: 400;
                        margin-right: initial;
                        font-size: 1rem;
                        padding: 0.2rem;
                    }
                }
            }
        }
    }
    
    


}.error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.gracias- {
    text-align: center;
    margin-top: 50px;
}

.gracias- h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.gracias- button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.gracias- button:hover {
    background-color: #0056b3;
}
.error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.thank-you {
    text-align: center;
    margin-top: 50px;
}

.botonEstilo {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.botonEstilo:hover {
    background-color: #0056b3;
}

.botonEstilo:visited, .botonEstilo:active {
    color: #fff;
}

.main {
    min-height: 75vh;
    background-color: #f0f0f0; /* Fondo gris */
   
}

.main .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 100%;
    margin: 2%;
    background-color: #f0f0f0; /* Color de fondo agregado */
}