/* General */
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
        background-color: #ebf4fa;
        color:black;
    
}

/* Section Tendencias */
.tendencias {
    background-color: #fff;
    padding: 2% 0;
    border-top: 2px solid #008DDA;
    border-bottom: 2px solid #008DDA;
    text-align: center;
}

.titulosSection {
    font-size: 1.5em;
    color: #0380c4;
    margin-bottom: 20px;
}

.elementos {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center;
    gap: 60px; /* Máximo 60px de separación entre las imágenes, tanto horizontal como vertical */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}

.pelicula {
    flex: 1 1 30%; /* Toma el 30% del contenedor para 3 elementos por fila */
    max-width: 300px; /* Ajusta el ancho máximo de cada contenedor de imagen */
    box-sizing: border-box;
}

.pelicula img {
    width: 100%;
    max-height: 360px; /* Máxima altura de 360px */
    object-fit: cover;
    display: block;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.pelicula img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.botones {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.boton {
    background-color: #0380c4;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 0.7rem 1.5rem;
    margin: 0 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.boton:hover {
    color: black;
    background-color: #41C9E2;
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 760px) {
    .pelicula {
        width: 45%;
    }

    .elementos {
        gap: 20px; /* Ajusta el espacio entre las imágenes en pantallas pequeñas */
    }
}

/* Contenedor del section */
section {
    display: flex;
    flex-direction: column; /* Cambia a dirección columna */
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center;     /* Centra los elementos verticalmente */
    min-height: 100vh;       /* Asegúrate de que el section ocupe el 100% de la altura de la ventana */
    background-color: #ebf4fa; /* Fondo del section */
}
